<div class="header">
  
  <div class="container">
    <h2>Site Name</h2>
  </div>
  
</div>

<div class="container">
  <div class="article_list">
    <table class="table">
      <thead>
        <th>Replies count</th>
        <th>Title</th>
        <th>Last replied at</th>
        <th>Viewed count</th>
      </thead>
      <tbody>
          
        <% @articles.each do |article|%>
          <tr>
            <td><%= article.replies_count %></td>
            <td><%= article.title %></td>
            <td><%= article.last_reply_time.to_s[0..15] %></td>
            <td><%= article.viewes_count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
      
  </div>
</div>