<div class="header">
  <h2>Site Name</h2>
</div>

<div class="container">
  <div class="article_list">
    <table class="table">
      <thead>
        <th>Replies count</th>
        <th>Title</th>
        <th>Last replied at</th>
        <th>Viewed count</th>
      </thead>
      <tbody>
        <% @articles.each do |article|%>
          <tr>article.reply_count</tr>
          <tr>article.title</tr>
          <tr>article.last_reply_time</tr>
          <tr>article.views_count</tr>
        <% end %>
      </tbody>
    </table>
      
  </div>
</div>