<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <td><%= @article.user.name%></td>
        <td><%= @article.content%></td>
      </tr>
  
      <% @article.replies.all.each do |reply| %>
        <tr>
          <td><%= reply.user.name %></td>
          <td><%= reply.content%></td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
</div>