<% case current_user.friend?(user) %>
<% when 0%>
  <button class="btn btn-success btn-add-friend" id="<%=user.id%>">加好友</button>
<% when 1%>
  <button class="btn btn-success">test</button>
<% when 2%>
  <button class="btn btn-success">取消邀請</button>
<% end %>