<ul class="nav nav-tabs">
  <li role="presentation" class="<%= 'active' if selected_item == '文章類別' %>">
    <%= link_to "文章列表", admin_categories_path%>
  </li>
  <li role="presentation" class="<%= 'active' if selected_item == '使用者列表' %>">
    <%= link_to "使用者列表", admin_users_path%>
  </li>
</ul>