/*======================= nav-bar =======================*/

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}


/*======================= index-article-table =======================*/

th {
  text-align: center;
}

th.th-text {
  text-align: left;
}

th.th-time {
  text-align: right;
  width: 15%;
}

td{
  text-align: center;
}

td.td-text {
  text-align: left;
}

td.td-time {
  text-align: right;
}

td.td-num {
  width: 15%;
}

span.block-gray {
  background-color: #F5F5F5;
  border: 1px;
  border-color: #C0C0C0;
  border-style: solid;
  
  padding: 4px 24px 4px;
}

/*======================= index-article-cover =======================*/

.cover-block {
  background-color: #008B8B; 
  margin-bottom: 20px;
}

h2.header-font {
  color: #DAA520; 
  padding :15px;
}

/*======================= article-category-nav-pills =======================*/

.nav-pills > li.active > a {
  border-radius: 3px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #008B8B;
  border: 1px;
  border-color: #FFD700;
}

/*======================= article-show-page =======================*/

.title-block {
  background-color: #008B8B;
  margin: 15px 0px;
}

h1.article-title {
  display: inline-block;
  color: white;
  font-size: 28px; 
  margin: 20px;
}

div.article-btn-group {
  margin: 20px;
  float: right;
}

.article-content-block {
  border-style: solid;
  border-size: 4px;
  border-color: #008B8B;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
}

.avatar-block {
  
  text-align: center;
  
}

.avatar-block img {
  margin: 10px 0px;
}

.avatar-block p {
  
}

.avatar-block button{
  margin-bottom: 10px;
  background-color: #008B8B;
  color: white;
}

.text-content {
  padding: 10px 8px;
  margin-bottom: 25px;
  height: 100%;
  text-align: left;
  font-size: 24px;
}

.btn-control-group {
  position: absolute;
  margin: 10px;
  bottom: 0;
  right: 0;
  font-size: 20px;
}

.btn-control-group i{
  margin: 0px 5px;
  padding: 5px;
  border-style: solid;
  border-size: 4px;
  border-color: #F5F5F5;
  border-radius: 2px;
}

.reply-content-block {
  border-style: solid;
  border-size: 4px;
  border-color: #DAA520;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
}

.reply-form {
  margin: 5px 0px 20px;
}
