/*======================= nav-bar =======================*/

.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}


/*======================= index-article-table =======================*/

th {
  text-align: center;
  min-width: 85px;
}

th.th-text {
  text-align: left;
}

th.th-time {
  text-align: center;
  width: 145px;
}

td{
  text-align: center;
}

td.td-text {
  text-align: left;
}

td.td-time {
  text-align: center;
}

td.td-num {
  width: 15%;
}

.btn-sort a:hover {
  color: #DAA520; 
  cursor: pointer;
}
/*======================= index-article-cover =======================*/

.cover-block {
  background-color: #008B8B; 
  margin-bottom: 20px;
  padding-bottom: 20px;
}

h2.header-font {
  color: #DAA520; 
  padding :15px;
}

/*======================= article-category-nav-pills =======================*/

.nav-pills > li.active > a {
  border-radius: 3px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #008B8B;
  border: 1px;
  border-color: #FFD700;
}

/*======================= article-show-page =======================*/

.title-block {
  background-color: #008B8B;
  margin: 15px 0px;
}

h1.article-title {
  display: inline-block;
  color: white;
  font-size: 28px; 
  margin: 20px;
}

div.article-btn-group {
  margin: 20px;
  float: right;
}

.article-content-block {
  border-style: solid;
  border-size: 4px;
  border-color: #008B8B;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
}

.avatar-block {
  
  text-align: center;
  
}

.avatar-block img {
  margin: 10px 0px;
}

.avatar-block p {
  
}

.avatar-block button{
  margin-bottom: 10px;
  background-color: #008B8B;
  color: white;
}

.text-content {
  padding: 10px 8px;
  margin-bottom: 25px;
  height: 100%;
  text-align: left;
  font-size: 24px;
}

.btn-control-group {
  position: absolute;
  margin: 10px;
  bottom: 0;
  right: 0;
  font-size: 20px;
}

.btn-control-group i{
  margin: 0px 5px;
  padding: 5px;
  border-style: solid;
  border-size: 4px;
  border-color: #F5F5F5;
  border-radius: 2px;
}

.reply-content-block {
  border-style: solid;
  border-size: 3px;
  border-color: gray;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 4px 0px;
}

.reply-form {
  margin: 5px 0px 20px;
}

/*======================= article-feeds-page =======================*/

.feeds-cover-block {
  background-color: #DCDCDC;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.feeds-cover-block .info-block {
  margin: 0% 10%;
  text-align: center;
}

.feeds-cover-block h3{
  color:  #696969
}

h3.num {
  background-color: white;
  border: 2px solid black;
}


.user-count-block {
  display: inline-block;
  margin: 0 5%;
}

.article-count-block {
  display: inline-block;
  margin: 0 5%;
}

.reply-count-block {
  display: inline-block;
  margin: 0 5%;
}

/*======================= user-profile-page =======================*/

.user-info-block {
  position: relative;
}

.reply-content-block form {
  width: 80%;
}

i.reply-edit-btn:hover, i.reply-update-btn:hover{
  cursor: pointer;
}

td.btn-control-group {
  position: relative;
}